<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Personal Website
                <div class="btn-group pull-right">
                    <%= link_to "Source Code", "https://github.com/Eitansbd/personal_website", target: "_blank", class: "btn btn-primary" %>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#WebsiteModal">Demo Video</button>
                        
                    <div class="modal fade" id="WebsiteModal" tabindex="-1" role="dialog" aria-labelledby="WebsiteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div align="center" class="embed-responsive embed-responsive-16by9">
                                        <%= video_tag 'website-demo.mp4', class: "embed-responsive-item", controls: true, autoplay: true, muted: true  %>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            </h2>
            <div class="row top-buffer-sm">
                <div class="col-md-4">
                    <h4>Background</h4>
                    <p>Looking for a job as a Software Engineer? It's probably a good idea to have a personal website because many jobs will ask for one. But don't use a template or wordpress - build one yourself!</p>
                </div>
                <div class="col-md-4">
                    <h4>Best Feature</h4>
                    <p>As the admin, I'm able to sign in and write, post, and edit my blog using markdown syntax. When the post is saved, the title, subtitle, and timestamps are saved to my heroku database along with the S3 object key. When the post is loaded, the S3 object is fetched from the bucket using the object key and the markdown text is rendered using RedCarpet.</p>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <h4>Technical Details</h4>
                    <dl class="row">
                        <dt class="col-md-4">Backend</dt>
                        <dd class="col-md-8">Ruby, Rails, ActiveRecord, AWS S3 </dd>
                        <dt class="col-md-4 text-truncate">Front End</dt>
                        <dd class="col-md-8">ERB, Bootstrap, JS</dd>
                        <dt class="col-md-4">Challenges</dt>
                        <dd class="col-md-8">Sometimes configuration is the hardest part about a project. Adding the features was easy, figuring out why I couldn't access my S3 buckets was hard.</dd>
                    </dl>
                </div>
            </div>
        </div> 
    </div>
    
    <div class="row">
        <div class="jumbotron">
            <h2>Camp Schedule Management System
                <div class="btn-group pull-right">
                    <%= link_to "Source Code", "https://github.com/Eitansbd/camp_scheduling_app", target: "_blank", class: "btn btn-primary" %>
                    <%= render 'video_modal', modal_name: "Schedular", video_link: "scheduler-demo-2.mp4" %>
                    <%= link_to "Project Website", "https://camp-schedule-management.herokuapp.com/", target: "_blank", class: "btn btn-primary" %>
                </div>
            </h2>
            <div class="row top-buffer-sm">
                <div class="col-md-4">
                    <h4>Background</h4>
                    <p class="project-description">The worst job at any summer camp is the scheduler. The app is designed to generate a daily schedule for each bunk in the camp making sure that bunks don't have an activity twice, activities aren't overbooked, double periods are scheduled properly, and a bunch of other requirments. The app is designed to work with the user to make the perfect schedule for each day by allowing for user input at each step in the proccess.</p>
                </div>
                <div class="col-md-4">
                    <h4>Best Feature</h4>
                    <p>When the user enters a new activity into the system they indicate if the activity should by default be scheduled by the application (for example special activites and trips shouldn't be scheduled by default). Then on the scheduling page they are given a list of all the activities with checkboxes indicating if they are scheduled by default. But the user can uncheck or check any activity and override the default behavior.</p>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <h4>Technical Details</h4>
                    <dl class="row">
                        <dt class="col-md-4">Backend</dt>
                        <dd class="col-md-8">Ruby, Sinatra, PostgreSQL with custom queries</dd>
                        <dt class="col-md-4 text-truncate">Front End</dt>
                        <dd class="col-md-8">ERB templating and HTML/CSS</dd>
                        <dt class="col-md-4">Challenges</dt>
                        <dd class="col-md-8">I used a custom DAO to interact with the database and had to write a bunch of complicated SQL queries to get the right data while avoiding n+1's</dd>
                    </dl>
                </div>
            </div>
        </div> 
    </div>
    
    <div class="row">
        <div class="jumbotron">
            <h2>Todo App
                <div class="btn-group pull-right">
                    <%= link_to "Source Code", "https://github.com/Eitansbd/rails-todo-app", target: "_blank", class: "btn btn-primary" %>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#TodoModal">Demo Video</button>
                        
                    <div class="modal fade" id="TodoModal" tabindex="-1" role="dialog" aria-labelledby="TodoModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div align="center" class="embed-responsive embed-responsive-16by9">
                                        <%= video_tag 'todo-demo-2.mp4', class: "embed-responsive-item", controls: true, autoplay: true, muted: true  %>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                    <%= link_to "Project Website", "https://rails-todo-ebd.herokuapp.com/", target: "_blank", class: "btn btn-primary" %>
                </div>
            </h2>
            <div class="row top-buffer-sm">
                <div class="col-md-4">
                    <h4>Background</h4>
                    <p>For a project at Launch School we had to build a Todo application with sinatra. I decided to convert the app to rails - see the steps I took in this set of <%= link_to "blog posts", "link"%>.</p>
                </div>
                <div class="col-md-4">
                    <h4>Best Feature</h4>
                    <p>Todo apps are fairly common - this one adds some extra features like marking all todos in a list as complete with one button and style changes when items and lists are complete to spice things up a bit.</p>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <h4>Technical Details</h4>
                    <dl class="row">
                        <dt class="col-md-4">Backend</dt>
                        <dd class="col-md-8">Ruby, Rails, ActiveRecord, AWS S3 </dd>
                        <dt class="col-md-4 text-truncate">Front End</dt>
                        <dd class="col-md-8">ERB, Bootstrap, JS</dd>
                        <dt class="col-md-4">Challenges</dt>
                        <dd class="col-md-8"></dd>
                    </dl>
                </div>
            </div>
        </div> 
    </div>
    
    <div class="row">
        <div class="jumbotron">
            <h2>Pediatric Knee Exoskeleton
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExoModal">Demo Video</button>
                        
                    <div class="modal fade" id="ExoModal" tabindex="-1" role="dialog" aria-labelledby="ExoModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div align="center" class="embed-responsive embed-responsive-16by9">
                                        <%= video_tag 'exo-demo.mp4', class: "embed-responsive-item", controls: true, autoplay: true, muted: true, loop: true  %>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            </h2>
            <div class="row top-buffer-sm">
                <div class="col-md-4">
                    <h4>Background</h4>
                    <p>For my advanced mechatronics my group and I (I led the software team) built a pediatric knee exoskeleton for our professor's lab. We used pressure sensors, an arduino, and a low torque density motor to build a working prototype in the limited time we had.</p>
                </div>
                <div class="col-md-4">
                    <h4>Best Feature</h4>
                    <p>The exo is programmed to dynamically update the user's gait cycle time by calculating the average gait over the last three steps. If the user speeds up or slows down the exo will too, just don't go from running to walking in a second.</p>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <h4>Technical Details</h4>
                    <dl class="row">
                        <dt class="col-md-4">Software:</dt>
                        <dd class="col-md-8">Arduino IDE (C/C++) </dd>
                        <dt class="col-md-4 text-truncate">Hardware</dt>
                        <dd class="col-md-8">Pressure sensors, Motor</dd>
                    </dl>
                </div>
            </div>
        </div> 
    </div>
</div>
