<!DOCTYPE html>
<html>
  <head>
    <title>Eitan Bar-David</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="row navbar navbar-inverse">
  	  <div class="container-fluid">
  		    <div class="navbar-header">
  		      <%= link_to "Eitan Bar-David", root_url, class: "navbar-brand" %>
  		    </div>
  		    <ul class="nav navbar-nav navbar-right">
  		      <li><%= link_to "Projects", projects_path %></li>
  		      <li><%= link_to "Blog", blog_posts_path %></li>
  		      <li><a href="/files/resume.pdf"target="_blank">Resume</a></li>
  		      <li><%= mail_to "eitansbd@gmail.com", "Contact Me!", subject: "Connect" %></li>
  		    </ul>
  
  	  </div>
  	</nav>
  	<%= yield %>
  	
  	<div class="navbar navbar-default navbar-bottom">
  	  <div class="container">
  	  	 <div class="container-fluid text-md-left">
  			    <div class="row bottom-nav-buffer">
  		        <div class="col-sm-1 col-md-offset-4 vcenter">
  		            <a href="https://github.com/eitansbd" target="_blank"><image src="/assets/GitHub-Mark-64px.png" alt="github"></image></a>
  		        </div>
  		        <div class="col-sm-1 col-md-offset-1 vcenter">
  		            <a href="https://linkedin.com/in/eitanbardavid" target="_blank"><image id="linkedin-logo" src="/assets/LI-In-Bug.png" alt="linkedin"></image></a>
  		        </div>
  		    	</div>
  			  </div>
  	  </div>
  	</div>
  </body>
</html>
